<!DOCTYPE html>
<html lang="en">
<head>
				
      <link href ='/assets/styles.css'  rel = 'stylesheet' type = 'text/css' />
</head>

<body>
		 <% include partials/nav.ejs %>

    <h1> Thanks for getting in touch</h1>
    <p> You Have Successfull contacted <%=data.who %>  </p>
    <p>  Dept :   <%=data.departement%>      </p>
    <p> Email :<%=data.email %>  </p>
				
</body>
</html>