<!DOCTYPE html>
<html lang="en">
<head>
    <link href ='/assets/styles.css'  rel = 'stylesheet' type = 'text/css' />

</head>

<body>
	 <!--/Rendering partial views : why using partials => sometimes we want ti reuse some functionalties in more than 1 page like navigation for examlple so we vcan have 1 single location to serve that functionality and if we want to make a change that will affect all the pages that include it we will make it in one single place -->
	 <!--  We choose the location where we want to include our partial view then we specify the relative path to it preceded by an incluse statement-->
	 <% include partials/nav.ejs %>
    <h1> Contact Us</h1>
    <p> Contac the coolest Website of the planet!!</p>
    <!--  
    <p>Departement :<%=data.dept %> </p>
    <p>Person :<%=data.person %> </p> 
     -->
     <form id='form'  method="POST"  action="/contact">
        <label for="who">Who do yo wanna contact? </label>
        <input type="text" name="who" value="<%=data.person %>"  >
        <!-- this will pre populate those input for us because we managed to get access to the query string data  -->
        <label for="departement"> Which departement?</label>
        <input type="text" name="departement" value="<%=data.dept %>"  >
        <label for="email">Your Email </label>
        <input type="text" name="email" value="email"  >
        <input type="submit" value="submit"  >


     </form>


				
</body>
</html>